.seat-btn {
  background-color: greenyellow;
  color: black;
  text-align: center;

  clip-path: polygon(
    15% 50%,
    0 50%,
    0 100%,
    30% 100%,
    30% 75%,
    70% 75%,
    70% 100%,
    100% 100%,
    100% 50%,
    85% 50%,
    85% 0,
    15% 0
  );
  border: none;
  border-radius: 3px;
  height: 50px;
  width: 50px;
}
.seat-btn:checked {
  background-color: red;
  color: black;
  text-align: center;

  clip-path: polygon(
    15% 50%,
    0 50%,
    0 100%,
    30% 100%,
    30% 75%,
    70% 75%,
    70% 100%,
    100% 100%,
    100% 50%,
    85% 50%,
    85% 0,
    15% 0
  );
  border: 1px black solid;
  border-radius: 3px;
  height: 50px;
  width: 50px;
}
