.card {
  align-items: center;
  width: 300px;
}

.card_image {
  height: 30vh;
  width: 250px;
}

.card-primary {
  background-color: wheat;
}

.movie_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card-body {
  width: 300px;
  height: 300px;
  padding: 15px;
}
.card-body-user-details {
  width: 25vw;

  padding: 15px;
}
